In [4]:
# Import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import re

import warnings

In [8]:
# load data
data = pd.read_csv("D:\D\Machine Learning\data\Medical Cost Personal Datasets\insurance.csv")
data.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
# get information of data
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [13]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

As per the output, there are three columns with object data type which need to convert to labeled for model.

In [32]:
# There are 0 null value in dataset
data.isnull().sum()
group_age = data.groupby('age')
group_age.indices

{np.int64(18): array([   1,   22,   31,   46,   50,   57,  102,  121,  157,  161,  172,
         181,  194,  236,  250,  270,  295,  354,  359,  369,  399,  427,
         442,  469,  471,  482,  492,  525,  529,  564,  571,  600,  612,
         623,  648,  663,  710,  728,  759,  781,  803,  808,  822,  866,
         898,  911,  938,  940,  942, 1023, 1033, 1041, 1080, 1095, 1150,
        1163, 1170, 1204, 1212, 1215, 1244, 1248, 1282, 1283, 1296, 1315,
        1317, 1334, 1335]),
 np.int64(19): array([   0,   15,   32,   35,   65,  106,  126,  133,  136,  149,  168,
         195,  200,  223,  232,  238,  248,  259,  263,  276,  296,  311,
         349,  362,  385,  391,  410,  414,  430,  464,  472,  487,  490,
         503,  513,  526,  559,  565,  581,  584,  604,  618,  636,  681,
         723,  747,  773,  791,  807,  897,  899,  926,  943,  960,  973,
        1016, 1026, 1039, 1129, 1139, 1156, 1195, 1196, 1251, 1291, 1299,
        1313, 1316]),
 np.int64(20): array([  64,  105,  122,  134,  166,  210,  261,  374,  453,  495,  516,
         541,  592,  614,  692,  713,  815,  855,  984, 1042, 1147, 1158,
        1186, 1223, 1231, 1252, 1268, 1288, 1295]),
 np.int64(21): array([  51,   77,   90,  113,  363,  364,  397,  428,  478,  494,  507,
         586,  593,  680,  690,  700,  751,  787,  802,  840,  882,  968,
        1019, 1025, 1072, 1077, 1292, 1336]),
 np.int64(22): array([  30,   78,   82,  135,  137,  139,  182,  277,  293,  436,  506,
         576,  760,  792,  880,  888,  910,  972, 1021, 1036, 1038, 1047,
        1093, 1097, 1175, 1202, 1242, 1276]),
 np.int64(23): array([  12,   17,   28,  240,  358,  375,  479,  643,  699,  738,  761,
         804,  817,  842,  847,  875,  881, 1027, 1092, 1114, 1120, 1124,
        1157, 1178, 1184, 1189, 1328, 1331]),
 np.int64(24): array([  40,  174,  212,  219,  247,  340,  377,  389,  452,  476,  508,
         631,  693,  714,  732,  754,  816,  915,  957,  989, 1001, 1002,
        1058, 1060, 1181, 1250, 1267, 1305]),
 np.int64(25): array([  10,   61,  192,  274,  292,  294,  413,  423,  477,  548,  554,
         579,  809,  857,  858,  869,  884,  949, 1008, 1048, 1099, 1117,
        1182, 1239, 1271, 1279, 1302, 1308]),
 np.int64(26): array([  37,  107,  125,  141,  186,  218,  321,  373,  388,  412,  439,
         656,  695,  737,  821,  871,  902,  905,  930,  974,  977,  990,
        1017, 1108, 1137, 1235, 1270, 1274]),
 np.int64(27): array([  14,   70,  169,  203,  217,  253,  314,  326,  380,  429,  470,
         511,  562,  606,  657,  689,  694,  741,  763,  795,  848,  906,
         983,  994, 1054, 1123, 1131, 1214]),
 np.int64(28): array([   2,   34,   47,   63,   69,   95,  205,  226,  290,  303,  306,
         468,  546,  555,  608,  749,  813,  832, 1006, 1043, 1078, 1113,
        1134, 1243, 1245, 1261, 1286, 1297]),
 np.int64(29): array([  76,  108,  117,  143,  145,  189,  249,  291,  305,  324,  431,
         500,  625,  632,  671,  727,  739,  788,  961,  975, 1005, 1064,
        1102, 1167, 1174, 1217, 1306]),
 np.int64(30): array([  19,   21,  101,  144,  158,  187,  282,  307,  352,  451,  465,
         572,  609,  620,  670,  725,  758,  780,  796,  797,  952, 1000,
        1032, 1119, 1162, 1220, 1314]),
 np.int64(31): array([   5,   29,   41,   71,   80,  237,  298,  404,  434,  440,  485,
         496,  519,  570,  577,  708,  743,  755,  784,  955,  982, 1179,
        1190, 1194, 1199, 1320, 1324]),
 np.int64(32): array([   4,  128,  152,  163,  167,  222,  319,  409,  454,  521,  551,
         583,  662,  885,  909,  934, 1059, 1075, 1081, 1083, 1159, 1168,
        1249, 1260, 1277, 1307]),
 np.int64(33): array([   3,  241,  346,  353,  406,  441,  536,  585,  627,  640,  684,
         705,  762,  799,  811,  819,  877,  914,  998, 1100, 1118, 1138,
        1225, 1247, 1298, 1311]),
 np.int64(34): array([  23,   59,  104,  140,  142,  213,  220,  320,  322,  345,  540,
         557,  587,  597,  613,  703,  746,  923,  954,  971,  981,  988,
        1128, 1161, 1254, 1312]),
 np.int64(35): array([  38,   93,  150,  173,  207,  361,  383,  437,  449,  518,  558,
         637,  730,  778,  785,  838,  919,  965, 1040, 1127, 1153, 1165,
        1205, 1273, 1318]),
 np.int64(36): array([  49,   53,  185,  191,  300,  348,  417,  626,  672,  709,  814,
         827,  831,  834,  836,  863,  887,  891,  979,  999, 1063, 1155,
        1207, 1210, 1287]),
 np.int64(37): array([   7,    8,   24,   43,   84,  112,  119,  164,  505,  533,  621,
         660,  736,  750,  850,  860,  879,  947, 1029, 1070, 1104, 1169,
        1200, 1208, 1238]),
 np.int64(38): array([  44,   99,  129,  176,  257,  408,  426,  504,  523,  535,  566,
         589,  611,  769,  861,  922,  991,  993, 1014, 1082, 1111, 1173,
        1219, 1226, 1290]),
 np.int64(39): array([ 196,  234,  376,  450,  514,  582,  638,  646,  682,  756,  790,
         794,  829,  931,  937,  969,  995,  996, 1067, 1085, 1130, 1143,
        1211, 1278, 1319]),
 np.int64(40): array([  54,   67,   68,  154,  209,  211,  235,  243,  266,  280,  325,
         422,  448,  459,  633,  647,  667,  669,  687,  776,  806,  865,
        1177, 1198, 1216, 1221, 1253]),
 np.int64(41): array([  42,   79,  100,  179,  188,  215,  228,  272,  309,  567,  594,
         673,  697,  726,  729,  774,  828,  878,  929, 1116, 1141, 1164,
        1191, 1197, 1224, 1262, 1309]),
 np.int64(42): array([ 153,  160,  224,  230,  367,  372,  432,  461,  524,  596,  641,
         686,  767,  800,  835,  872,  946,  948, 1065, 1149, 1180, 1227,
        1255, 1304, 1310, 1323, 1326]),
 np.int64(43): array([  60,  312,  334,  396,  415,  501,  549,  598,  644,  665,  712,
         873,  896,  916,  924,  958,  986, 1011, 1045, 1046, 1152, 1160,
        1171, 1188, 1263, 1272, 1303]),
 np.int64(44): array([  74,  120,  123,  155,  183,  184,  239,  318,  368,  384,  411,
         488,  498,  629,  674,  772,  823,  874,  907,  913,  936,  953,
         967,  985, 1050, 1136, 1289]),
 np.int64(45): array([  81,   85,  197,  214,  268,  327,  425,  445,  497,  517,  653,
         675,  740,  764,  777,  805,  820,  917,  933,  978,  987, 1037,
        1057, 1109, 1185, 1234, 1246, 1269, 1300]),
 np.int64(46): array([   6,   88,  146,  178,  204,  265,  285,  286,  339,  347,  355,
         356,  394,  395,  528,  537,  538,  556,  560,  595,  810,  852,
         932,  963, 1030, 1121, 1201, 1218, 1293]),
 np.int64(47): array([ 124,  165,  229,  275,  297,  357,  401,  407,  473,  591,  610,
         615,  688,  691,  704,  748,  757,  766,  818,  893, 1004, 1007,
        1022, 1024, 1053, 1076, 1090, 1281, 1285]),
 np.int64(48): array([  52,   83,  151,  156,  201,  299,  360,  390,  392,  424,  484,
         569,  645,  652,  658,  733,  856,  959,  976, 1003, 1010, 1013,
        1056, 1066, 1112, 1154, 1183, 1193, 1280]),
 np.int64(49): array([ 118,  171,  269,  313,  344,  365,  393,  403,  460,  481,  545,
         568,  617,  622,  650,  666,  679,  707,  716,  735,  854,  876,
         900,  903, 1049, 1052, 1106, 1264]),
 np.int64(50): array([ 159,  254,  271,  273,  310,  316,  338,  351,  387,  520,  563,
         701,  711,  724,  744,  745,  783,  870,  925,  941,  970,  992,
        1094, 1107, 1135, 1140, 1144, 1222, 1333]),
 np.int64(51): array([ 147,  198,  258,  279,  400,  483,  502,  512,  522,  527,  601,
         605,  634,  706,  718,  720,  775,  782,  846,  864,  883,  951,
         966, 1009, 1020, 1096, 1203, 1256, 1327]),
 np.int64(52): array([  16,  114,  127,  262,  284,  289,  315,  329,  331,  405,  416,
         438,  553,  578,  599,  655,  964, 1088, 1098, 1133, 1142, 1145,
        1176, 1213, 1230, 1240, 1259, 1329, 1332]),
 np.int64(53): array([  58,   72,   91,  132,  148,  216,  221,  264,  301,  489,  539,
         630,  651,  683,  685,  696,  702,  721,  731,  742,  771,  779,
         793,  844,  853,  939, 1101, 1122]),
 np.int64(54): array([  96,  110,  138,  162,  177,  245,  252,  281,  317,  474,  486,
         543,  544,  547,  561,  812,  892,  956,  980, 1018, 1028, 1035,
        1069, 1073, 1105, 1110, 1232, 1257]),
 np.int64(55): array([  27,   45,   89,   97,  111,  225,  242,  255,  283,  381,  382,
         456,  619,  676,  849,  862, 1031, 1044, 1055, 1086, 1091, 1115,
        1126, 1148, 1258, 1266]),
 np.int64(56): array([  13,   18,   87,   98,  193,  256,  302,  333,  366,  444,  447,
         458,  463,  467,  510,  602,  616,  639,  678,  698,  826,  837,
         945, 1089, 1172, 1228]),
 np.int64(57): array([  75,   86,  304,  323,  350,  371,  457,  509,  530,  574,  659,
         661,  765,  843,  859,  867,  886,  889,  927,  950, 1061, 1087,
        1132, 1166, 1275, 1330]),
 np.int64(58): array([  55,   56,   73,  116,  180,  227,  260,  308,  386,  515,  575,
         590,  628,  649,  719,  753,  798,  833, 1103, 1151, 1192, 1229,
        1233, 1237, 1294]),
 np.int64(59): array([  25,   92,  130,  206,  231,  233,  267,  278,  288,  443,  455,
         532,  580,  607,  624,  654,  734,  839,  841,  912,  935, 1015,
        1062, 1206, 1209]),
 np.int64(60): array([   9,   20,   39,   48,  115,  202,  246,  336,  342,  433,  435,
         446,  466,  677,  715,  717,  786,  824,  845,  901,  904, 1074,
        1146]),
 np.int64(61): array([  66,  103,  131,  190,  330,  332,  370,  421,  475,  491,  493,
         588,  642,  770,  851,  868,  895,  918, 1012, 1034, 1284, 1325,
        1337]),
 np.int64(62): array([  11,   36,  337,  341,  379,  462,  499,  531,  552,  573,  668,
         722,  789,  894,  920,  921,  928,  944, 1084, 1187, 1301, 1321,
        1322]),
 np.int64(63): array([  26,   33,  109,  170,  175,  208,  244,  251,  287,  343,  419,
         480,  542,  550,  830,  908,  962,  997, 1068, 1071, 1079, 1125,
        1236]),
 np.int64(64): array([  62,   94,  199,  328,  335,  378,  398,  402,  418,  420,  534,
         603,  635,  664,  752,  768,  801,  825,  890, 1051, 1241, 1265])}

In [ ]:
# Now start data visualization for understanign trand
import seaborn as sns
import matplotlib.pyplot as plt