In [53]:
# import libraries
import pandas as pd
import numpy as np

In [54]:
# import data
data = pd.read_csv("D:/D/Machine Learning/data/TTC/ttc-bus-delay-data-2022.csv")
data.head(10)

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,1-Jan-22,320,02:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,NaN,8531
1,1-Jan-22,325,02:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658
2,1-Jan-22,320,02:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0
3,1-Jan-22,320,02:07,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0
4,1-Jan-22,320,02:13,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0
5,1-Jan-22,363,02:16,Saturday,KING AND SHAW,Operations - Operator,30,60,NaN,0
6,1-Jan-22,96,02:18,Saturday,HUMBERLINE LOOP,Security,0,0,N,3536
7,1-Jan-22,320,02:38,Saturday,STEELES AND YONGE,Operations - Operator,4,8,NaN,0
8,1-Jan-22,320,02:55,Saturday,YONGE AND STEELES,Operations - Operator,4,8,NaN,0
9,1-Jan-22,300,03:18,Saturday,KENNEDY STATION,Emergency Services,0,0,E,8094

In [55]:
# got data discription
data.describe()

          Min Delay       Min Gap       Vehicle
count  27351.000000  27351.000000  27351.000000
mean      20.298417     32.876714   5410.169427
std       49.636736     51.293913   4616.285325
min        0.000000      0.000000      0.000000
25%        9.000000     17.000000   1394.000000
50%       11.000000     22.000000   7940.000000
75%       20.000000     36.000000   8523.000000
max      999.000000    999.000000  93561.000000

In [56]:
data.dtypes

Date         object
Route        object
Time         object
Day          object
Location     object
Incident     object
Min Delay     int64
Min Gap       int64
Direction    object
Vehicle       int64
dtype: object

In [57]:
# Got null values in dataset
data = data.dropna()
data.isnull().sum()
len(data)

21735

In [60]:
# Seperate dates
from datetime import datetime

data['Date'] = pd.to_datetime(data['Date'], format='%d-%b-%y')
data['day'] = data['Date'].dt.day
data['month'] = data['Date'].dt.month
data['year'] = data['Date'].dt.year

data = data.drop('Date', axis=1)

In [66]:
# handle time formate
data['Time'] = pd.to_datetime(data['Time'], format = '%H:%M')
data['Hour'] = data['Time'].dt.hour
data['Minutes'] = data['Time'].dt.minute
data = data.drop('Time', axis=1)

In [65]:
data

,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,day,month,year,Hour,Minutes
1,325,1900-01-01 02:00:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658,1,1,2022,2,0
2,320,1900-01-01 02:00:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0,1,1,2022,2,0
3,320,1900-01-01 02:07:00,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0,1,1,2022,2,7
4,320,1900-01-01 02:13:00,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0,1,1,2022,2,13
6,96,1900-01-01 02:18:00,Saturday,HUMBERLINE LOOP,Security,0,0,N,3536,1,1,2022,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27345,32,1900-01-01 00:31:00,Thursday,EGLINTON AND RONALD AV,Mechanical,14,28,W,1094,30,6,2022,0,31
27346,123,1900-01-01 00:45:00,Thursday,SHERWAY GARDENS RD,Operations - Operator,27,54,E,8088,30,6,2022,0,45
27347,102,1900-01-01 01:08:00,Thursday,WARDEN AND DANFORTH,Operations - Operator,30,60,S,3416,30,6,2022,1,8
27349,32,1900-01-01 01:33:00,Thursday,RENFORTH STATION,Cleaning - Unsanitary,18,36,E,1202,30,6,2022,1,33
27350,32,1900-01-01 01:55:00,Thursday,EGLINTON AND DUPLEX,Cleaning - Unsanitary,8,16,W,1265,30,6,2022,1,55