In [20]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jaini\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
# import libraries
import pandas as pd
import numpy as np
import re

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [22]:
# import data
data = pd.read_csv("D:/D/Machine Learning/data/TTC/ttc-bus-delay-data-2022.csv")
data.head(10)

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,1-Jan-22,320,02:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,NaN,8531
1,1-Jan-22,325,02:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658
2,1-Jan-22,320,02:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0
3,1-Jan-22,320,02:07,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0
4,1-Jan-22,320,02:13,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0
5,1-Jan-22,363,02:16,Saturday,KING AND SHAW,Operations - Operator,30,60,NaN,0
6,1-Jan-22,96,02:18,Saturday,HUMBERLINE LOOP,Security,0,0,N,3536
7,1-Jan-22,320,02:38,Saturday,STEELES AND YONGE,Operations - Operator,4,8,NaN,0
8,1-Jan-22,320,02:55,Saturday,YONGE AND STEELES,Operations - Operator,4,8,NaN,0
9,1-Jan-22,300,03:18,Saturday,KENNEDY STATION,Emergency Services,0,0,E,8094

In [23]:
# got data discription
data.describe()

          Min Delay       Min Gap       Vehicle
count  27351.000000  27351.000000  27351.000000
mean      20.298417     32.876714   5410.169427
std       49.636736     51.293913   4616.285325
min        0.000000      0.000000      0.000000
25%        9.000000     17.000000   1394.000000
50%       11.000000     22.000000   7940.000000
75%       20.000000     36.000000   8523.000000
max      999.000000    999.000000  93561.000000

In [24]:
data.dtypes

Date         object
Route        object
Time         object
Day          object
Location     object
Incident     object
Min Delay     int64
Min Gap       int64
Direction    object
Vehicle       int64
dtype: object

In [25]:
# Got null values in dataset
data = data.dropna()
data.isnull().sum()
len(data)

21735

In [26]:
# Seperate dates
from datetime import datetime

data['Date'] = pd.to_datetime(data['Date'], format='%d-%b-%y')
data['day'] = data['Date'].dt.day
data['month'] = data['Date'].dt.month
data['year'] = data['Date'].dt.year

data = data.drop('Date', axis=1)

In [27]:
# handle time formate
data['Time'] = pd.to_datetime(data['Time'], format = '%H:%M')
data['Hour'] = data['Time'].dt.hour
data['Minutes'] = data['Time'].dt.minute
data = data.drop('Time', axis=1)

In [32]:
# cleaning text
column_with_obj = ['Day', 'Location', 'Incident', 'Direction']

# Normalize of text
for i in column_with_obj:
    data[i] = data[i].str.lower()
    data[i] = data[i].str.strip()

# Remove noise (punctuation)
for i in column_with_obj:
    data[i] = data[i].str.replace(r'[^\w\s]', '', regex=True)

# performing stop word
stop_word = set(stopwords.words('english'))
def remove_stopword(txt):
    word_token = word_tokenize(txt)
    flt = [word for word in word_token if word.lower() not in stop_word]
    return " ".join(flt)

data['Day'] = data['Day'].apply(remove_stopword)

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\jaini/nltk_data'
    - 'c:\\Program Files\\Python\\nltk_data'
    - 'c:\\Program Files\\Python\\share\\nltk_data'
    - 'c:\\Program Files\\Python\\lib\\nltk_data'
    - 'C:\\Users\\jaini\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [ ]:
data

,Route,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,day,month,year,Hour,Minutes
1,325,saturday,overlea and thorcliffe,diversion,131,161,w,8658,1,1,2022,2,0
2,320,saturday,yonge and steeles,operations operator,17,20,s,0,1,1,2022,2,0
3,320,saturday,yonge and steeles,operations operator,4,11,s,0,1,1,2022,2,7
4,320,saturday,yonge and steeles,operations operator,4,8,s,0,1,1,2022,2,13
6,96,saturday,humberline loop,security,0,0,n,3536,1,1,2022,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27345,32,thursday,eglinton and ronald av,mechanical,14,28,w,1094,30,6,2022,0,31
27346,123,thursday,sherway gardens rd,operations operator,27,54,e,8088,30,6,2022,0,45
27347,102,thursday,warden and danforth,operations operator,30,60,s,3416,30,6,2022,1,8
27349,32,thursday,renforth station,cleaning unsanitary,18,36,e,1202,30,6,2022,1,33
27350,32,thursday,eglinton and duplex,cleaning unsanitary,8,16,w,1265,30,6,2022,1,55